<div class="container d-flex justify-content-center align-items-center min-vh-100">

  <div class="col-md-8 col-lg-6">

    <div class="card shadow-lg p-4">

      <h2 class="text-center mb-4">
        DevMatch • Edit Project
      </h2>

        <% if (typeof errors !== 'undefined') { %>
      <div class="alert alert-danger">
       <% errors.forEach(err => { %>
      <p class="mb-0"><%= err %></p>
        <% }) %>
      </div>
       <% } %>

      <form action="/projects/<%= project._id %>" method="POST">

        
        <div class="mb-3">
          <label class="form-label">Project Title</label>
          <input type="text" name="title" value="<%= project.title %>" class="form-control">
        </div>

    
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea name="description" class="form-control" rows="4"><%= project.description %></textarea>
        </div>

        
        <div class="mb-3">
          <label class="form-label">Skills Required</label>
          <input type="text" name="skillsRequired" 
                 value="<%= project.skillsRequired.join(', ') %>" 
                 class="form-control">
        </div>

        
        <div class="mb-3">
          <label class="form-label">Estimated Budget</label>
    <input type="number" name="cost" class="form-control no-spinner"
       min="0"
       value="<%= typeof project !== 'undefined' ? project.cost : 0 %>"
       placeholder="Enter budget ">
        </div>

       
        <div class="d-flex justify-content-between mt-4">
          <a href="/projects/<%= project._id %>" class="btn btn-secondary">Cancel</a>
          <button class="btn btn-primary">Update Project</button>
        </div>

      </form>

    </div>

  </div>

</div>